[Container]
Image=docker.io/postgres:latest
Network=quad-postgres-net.network
PublishPort=5432:5432
Environment=POSTGRES_DB=db
Environment=POSTGRES_PASSWORD=secure
Environment=POSTGRES_USER=dbuser

[Service]
Restart=always

[Install]
WantedBy=default.target