[Unit]
Description=Copy Embedded Images into shared store (run once until success)
After=systemd-tmpfiles-setup.service local-fs.target systemd-logind.service user-runtime-dir@1000.service
Requires=systemd-tmpfiles-setup.service user-runtime-dir@1000.service
ConditionPathExists=!/var/lib/copy_embedded_images.done

[Service]
Type=oneshot
ExecStart=/usr/local/bin/copy_embedded_images.sh
ExecStartPost=/usr/bin/touch /var/lib/copy_embedded_images.done
Restart=on-failure
RestartSec=30
TimeoutStartSec=infinity

[Install]
WantedBy=multi-user.target