[Container]
Image=quay.io/library/postgres:16
Volume=quad-postgres-db.volume:/var/lib/postgresql/data:Z
Network=quad-postgres-net.network
PublishPort=5432:5432

[Service]
Restart=always

[Install]
WantedBy=default.target