[Unit]
Description=Configure device on first boot
After=network-pre.target
Before=network.target
Wants=network-pre.target

[Service]
Type=simple
ExecStart=/usr/local/bin/first-boot.sh
StandardOutput=journal
StandardError=journal

# Retry until successful, but only on first boot
Restart=on-failure
RestartSec=60
StartLimitBurst=0

# Only run once during the first boot
ExecStartPre=/bin/bash -c 'if [ -f /var/lib/firstboot.done ]; then exit 1; fi'

[Install]
WantedBy=multi-user.target
